.container {
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 10px grey;
  cursor: pointer;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 80%;
}

.textContainer {
  font-size: 10px;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-height: 700px) {
  .textContainer {
    font-size: 12px;
  }
}

@media (min-height: 900px) {
  .textContainer {
    font-size: 14px;
  }
}
