.container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 48vw;
  overflow-x: visible;
}

.logoContainer {
  width: 24vw;
  height: 24vw;
  border: 1px solid #fd5d50;
  border-right: none;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}

.dAndADContainer {
  position: relative;
  width: 22vw;
  height: 12vw;
}

.designCollectorContainer {
  position: relative;
  width: 22vw;
  height: 5vw;
}

.abodoMagazineContainer {
  position: relative;
  width: 20vw;
  height: 4vw;
}

.adStasherContainer {
  position: relative;
  width: 20vw;
  height: 4.5vw;
}

.digitalArtsContainer {
  position: relative;
  width: 20vw;
  height: 4.5vw;
}

.shotsContainer {
  position: relative;
  width: 12vw;
  height: 12vw;
}
