.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  right: 1.6rem;
  overflow-x: hidden;
}

.scrollableArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  transition: all 0.5s linear;
}

.headingContainer {
  height: 57vh;
  font-size: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickToViewContainer {
  position: absolute;
  right: 45.3vw;
  height: 5vw;
  width: 5vw;
  background-color: #fd5d50;
  color: white;
  border-radius: 100%;
  transform: rotate(-22deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  z-index: 1;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.carouselContainer {
  height: 57vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.scrollerContainer {
  height: 43vh;
  display: flex;
  justify-content: center;
  padding-top: 6rem;
}

.scrollBarHolder {
  height: 6px;
  width: 80%;
  border: 1px solid #fd5d50;
  border-radius: 5px;
}

.scrollBar {
  height: 100%;
  width: 10%;
  background-color: #fd5d50;
  cursor: grab;
}

.scrollBar:active {
  cursor: grabbing;
}

@media (max-width: 650px) {
  .clickToViewContainer {
    font-size: 0.8rem;
  }

  .container {
    height: auto;
  }

  .scrollerContainer {
    height: 20vh;
  }

  .carouselContainer {
    height: auto;
  }

  .headingContainer {
    height: auto;
  }

  .clickToViewContainer {
    display: none;
  }
}

@media (max-width: 500px) {
  .scrollableArea {
    grid-template-columns: 1fr;
  }

  .headingContainer {
    justify-content: flex-start;
    margin-left: 6rem;
  }

  .clickToViewContainer {
    display: flex;
    top: 15vw;
    left: 17vw;
    height: 25vw;
    width: 25vw;
    font-size: 2.5rem;
  }
}
