.container {
  position: relative;
  right: 1.6rem;
  height: 100vh;
  width: 100vw;
  background-color: #f3f1ed;
}

.imageOne {
  position: absolute;
  z-index: 1;
}

.imageTwo {
  position: absolute;
  z-index: 1;
}

.imageThree {
  position: absolute;
  z-index: 0;
}

.imageFour {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

@media (max-width: 1099px) {
  .container {
    display: none;
  }
}
