.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0 2rem;
  right: 1.6rem;
  background-color: #f3f1ed;
  overflow-x: hidden;
  z-index: 2;
}

.scrollableArea {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  transition: all 0.5s linear;
  height: 90%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.imageContainer {
  position: relative;
  height: 100%;
  min-width: 75%;
}

.scrollerContainer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollBarHolder {
  height: 6px;
  width: 80%;
  border: 1px solid #fd5d50;
  border-radius: 5px;
}

.scrollBar {
  height: 100%;
  width: 10%;
  background-color: #fd5d50;
  cursor: grab;
  transition: all ease-in-out 0.8s;
}

.scrollBar:active {
  cursor: grabbing;
}

.container::-webkit-scrollbar {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
  height: 7px;
}

.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(253, 93, 80, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fd5d50;
}

@media (max-width: 1180px) {
  .container {
    overflow-x: auto;
  }
}

@media (max-width: 900px) {
  .container {
    height: 35vh;
    width: 100vw;
  }
}
