.container {
  width: 100%;
  height: 100vh;
  padding: 5rem 1.5rem;
  display: flex;
  justify-content: center;
}

.videoPlayer {
  height: 100%;
  width: auto;
  object-fit: contain;
  cursor: pointer;
  z-index: 4;
  justify-self: center;
  background: white;
}

@media (max-width: 1180px) {
  .container {
    padding: 5rem 0;
    height: auto;
    width: 100vw;
    position: relative;
    right: 1.6rem;
  }

  .videoPlayer {
    width: 100%;
    height: auto;
  }
}
