.container {
  width: 100vw;
  position: relative;
  right: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: 24vh;
  margin-top: 24vh;
  background-color: #f3f1ed;
}

.linkText:hover {
  color: #fd5d50;
}

.linkText {
  transition: all 0.3s linear;
}
