.container {
  position: relative;
  right: 1.6rem;
  height: 180vh;
  width: 100vw;
}

.dividerOne {
  position: relative;
  height: 80vh;
}

.dividerTwo {
  position: relative;
  height: 80vh;
  margin-top: 2vw;
}

.imageOne {
  position: absolute;
  bottom: 0;
}

.imageTwo {
  position: absolute;
  bottom: 0;
}

.imageThree {
  position: absolute;
  top: 0;
}

.imageFour {
  position: absolute;
  top: 0;
}

@media (max-width: 900px) {
  .container {
    height: auto;
  }

  .dividerOne {
    position: relative;
    height: 30vh;
  }

  .dividerTwo {
    position: relative;
    height: 30vh;
    margin-top: 2vw;
  }
}
