.container {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  height: calc(88vh - 2.3rem); /* fix this */
}

.showCase {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}

.card {
  height: 65%;
  aspect-ratio: 0.79 / 1; /* does not work for IE */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: transform 0.3s;
}

.cardPush {
  height: 65%;
  aspect-ratio: 0.79 / 1; /* does not work for IE */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(130px, -50%);
  transition: transform 0.3s;
}
