.container {
  padding: 3rem 3rem;
}

.title {
  font-size: 6.5rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-template-areas:
    ". company"
    "links brief";
}

.companyText {
  grid-area: company;
  font-size: 1.4rem;
  margin-top: 2em;
  margin-bottom: 1.4em;
}

.linkContainer {
  grid-area: links;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Krona One", sans-serif;
  margin-top: 5px;
}

.link {
  margin-bottom: 1.5em;
}

.linkText {
  padding-left: 1em;
}

@media (max-width: 680px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "company"
      "links"
      "brief";
  }

  .linkContainer {
    border-bottom: 2px solid black;
    margin-bottom: 1.4em;
  }

  .container {
    border-top: 2px solid black;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 5.5rem;
  }

  .container {
    padding: 1.5rem 1.5rem;
  }
}
