.container {
  padding: 0rem 3rem;
  height: 100vh;
}

.companyText {
  font-size: 1.4rem;
  margin-top: 2em;
  margin-bottom: 1.4em;
}

@media (max-width: 680px) {
  .container {
    border-top: 2px solid black;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 0rem 1.5rem;
  }
}
